{% extends "base.html" %}

{% block title %}爬虫首页{% endblock %}

{% block page_content %}
{%if user_list%}
<div class="col-sm-12 text-default top-margin">
    <div class="form-group top-margin col-sm-5">
        <div class="row">
            <label style="white-space: pre" class="col-sm-2 col-xs-2" >用户名 ：</label>
            <input type="text" class="col-sm-6 col-xs-4" id="search_username"
                   placeholder="请输入需要爬取的用户昵称" name="search_username"/>
            <button id="search_btn" type="button" class="btn btn-default left-padding right-padding col-sm-offset-1">
                搜索
            </button>
        </div>
    </div>
    <p id="search_tip" style="display:none" class="col-sm-12">搜索中...</p>
    <div id="display_grid" class="col-sm-10 row" style="display:none">
        <table class="table table table-striped table-hover">
            <thead>
            <tr>
                <th width="8%"></th>
                <th width="28%">用户昵称</th>
                <th width="20%">用户id</th>
                <th width="12%"></th>
                <th width="20%"></th>
                <th width="12%"></th>
            </tr>
            </thead>

            <tbody id="search_result_list">
            </tbody>
        </table>
    </div>
</div>
{%endif%}
{% endblock %}